.Sidebar {
    /* width: 15%; */
    height: 100%;
    background-color: #191c24;
    transition: all 250ms ease-in-out;
    display: flex;
    flex-direction: column;
    color: white;
    overflow-y: scroll;
    width: 15%;
}

::-webkit-scrollbar {
    display: none;
}

.sidebar-container {}

.sidebar-user-profile {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 6px 20px;

}

.sidebar-user-profile img {
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #6C7293;

}

.sidebar-nav p {
    padding: 0px 20px;

}

.side-nav-list {
    list-style: none;
    padding-left: 0;
    cursor: pointer;

}

.side-nav-list li {
    text-align: left;
    padding: 8px 20px;
    width: 70%;
    color: #6C7293;
    transition: all 250ms ease-in-out;
    margin-bottom: 15px;
}

.nav-option-clicked {
    background-color: #0F1015;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white !important;
    border-left: 3px solid #0090E7;
}